html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: large;
  color: #000;
}

h1 span {
  color: #2f96db;
}

/* h2 span {
  color: aquamarine;
} */

/* nav a:first-child {
  text-transform: uppercase;
} */

/* nav a:nth-child(2) {
  color: #db2f8b;
} */
/* 
footer a {
  text-transform: uppercase;
}

a {
  text-transform: lowercase;
} */
.navegacion {

}

.sobre-nosotros {
  background-color: red;
  width: 200px;
  padding: 25px;
   box-sizing: border-box; /* Aplica el paddin sin afectar nunca el width establecido */
}